.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding-bottom: 24px;
}

.Message {
  color: aqua;
  margin-right: auto;
  margin-left: auto;
  animation: flicker 1.5s infinite;
}
@keyframes flicker {
  from { opacity: 1; }
  to { opacity: 0; }
}